# Production reverse proxy
:9000 {
    
    # Backend API
    handle /trpc* {
        reverse_proxy backend:4000 {
        }
    }
    handle /api/* {
        reverse_proxy backend:4000
    }

    # Frontend requests
    handle /* {
        reverse_proxy frontend:3000
    }

    # Logging
    log {
        output stdout
        format console
    }
}
